.hugo_build.lock
hugo_stats.json
package-json.lock
public/
node_modules/
resources/_gen/
.terraform
.terraform.lock.hcl
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env
.venv
venv/
build/
dist/
*.egg-info/
